.header_link {
    display: inline;
    text-align: light;
    text-decoration: none;
}

.rightheader {
    text-align: right;
}

.home {
    background-color: #f5f5f5;
}

.home_heading {
    text-align: center;
}

.stamp_button_work {
    display: flex;
    padding: 3% 5%;
}

.stamp_button_work div {
    display: flex;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    padding: 5% 10%;
    margin: auto;
    background: #ffffff;
    color: #000000;
}

.workstart {
    display: inline-block;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    padding: auto;
    margin: auto;
    background: #ffffff;
    color: #000000;
}

.workend {
    display: inline-block;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    padding: auto;
    margin: auto;
    background: #ffffff;
    color: #000000;
}

.stamp_button_rest {
    display: flex;
    padding: 3% 5%;
}

.stamp_button_rest div {
    display: flex;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    padding: 5% 10%;
    margin: auto;
    background: #ffffff;
    color: #000000;
}

.reststart {
    display: inline-block;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    padding: auto;
    margin: auto;
    background: #ffffff;
    color: #000000;
}

.restend {
    display: inline-block;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    padding: auto;
    margin: auto;
    background: #ffffff;
    color: #000000;
}